.dropdown {
    position: relative;
    
}

.dropdown_content {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 150px;
}

.dropdown_ingredient {
    background-color: #fcfcfc;
    padding-left: 1rem;
    cursor: pointer;
}

.dropdown_ingredient:hover {
    background-color: #eee;

}